
/* Tried to make a 16:9 presentation */
/*
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  width: 1600px;
  heigth: 900px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
*/

/*
Just for fun
body {
  width: 1600px;
  heigth: 900px;
  font-family: 'Comic Sans MS';
}
h1, h2, h3 {
  font-family: "Comic Sans MS";
  font-weight: 400;
  margin-bottom: 0;
}
*/