
/* Tried to make a 16:9 presentation */
/*
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  width: 1600px;
  heigth: 900px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
*/

/*
body {
  color: "rgb(0,51,141)";
}
h1, h2, h3 {
  color: "rgb(122,178,220)";
}
*/